{% extends 'base.html.twig' %}

{% block title %}New EntertainmentProduct{% endblock %}

{% block body %}
    <h1>Create new EntertainmentProduct</h1>

    {{ include('entertainment_product/_form.html.twig') }}

<div class="row">
    <div class="col-2 pt-2">
        <a class="btn btn-dark" href="{{ path('app_entertainment_product_index') }}">back to list</a>
    </div>
</div>
{% endblock %}
